{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}
{% block body %}
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">so.. Who are we?</h1>
                <p class="lead">We are Bia Maith, which when translated from Gaeilge to English means "Good Food".  This is what we stand for and what we strive to provide to you our customer.
                     <br>we make Fresh food beautifully made by our team, below is image of our food</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src={{ asset('/img/burger2.jpg')}} alt="" width="720">
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">More info about us</h1>
                <p class="lead">We are Bia Maith, which when translated from Gaeilge to English means "Good Food".  This is what we stand for and what we strive to provide to you our customer.
                    <br>we make Fresh food beautifully made by our team, below is image of our food</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src={{ asset('/img/breakfast.jpg')}} alt="" width="720">
            </div>
        </div>
    </div>



{% endblock %}


