{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block body %}

    {% if app.user %}
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        You are not logged in <a href="{{ path('app_login') }}">Log In </a><br>
        New User ?  <a href="{{ path('user_new') }}">Register Here </a>
    {%  endif %}
    <h1></h1>
    <p>

    </p>

{% endblock %}
