{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    <h1>Checkout</h1>

    {{ include('checkout/_form.html.twig') }}

    <a href="{{ path('basket') }}">Back to Basket</a>
{% endblock %}
